# Estimating sample quantiles

# Document

<table align="left">
    <tr>
        <th class="text-align:left">Title</th>
        <td class="text-align:left">Estimating sample quantiles</td>
    </tr>
    <tr>
        <th class="text-align:left">Last modified</th>
        <td class="text-align:left">2018-09-17</td>
    </tr>
    <tr>
        <th class="text-align:left">Author</th>
        <td class="text-align:left">Gilles Pilon <gillespilon13@gmail.com></td>
    </tr>
    <tr>
        <th class="text-align:left">Status</th>
        <td class="text-align:left">Active</td>
    </tr>
    <tr>
        <th class="text-align:left">Type</th>
        <td class="text-align:left">Jupyter notebook</td>
    </tr>
    <tr>
        <th class="text-align:left">Created</th>
        <td class="text-align:left">2018-09-16</td>
    </tr>
    <tr>
        <th class="text-align:left">File name</th>
        <td class="text-align:left">estimating_sample_quantiles.ipynb</td>
    </tr>
    <tr>
        <th class="text-align:left">Other files required</th>
        <td class="text-align:left">estimating_sample_quantiles.csv</td>
    </tr>
</table>

# In brevi

The purpose of this notebook is to test my datasense.py module.

# Data

Download the data file.

[estimating_sample_quantiles](https://drive.google.com/open?id=1EuMKLYCh2aLllTQoYSGzXNQZKeexaWTn)

# Methodology

Various data munging operations are performed using pandas.

# Code

In [1]:
# Start of time estimation for the notebook.
import datetime as dt
start_time = dt.datetime.now()

In [2]:
# Import the required librairies.
import pandas as pd

In [3]:
import datasense as ds

In [4]:
# Read the data file.
# y is the column of response values.
df = pd.read_csv('estimating_sample_quantiles.csv')

In [5]:
# Calculate basic statistics.
df.describe()

               y
count   8.000000
mean   20.875000
std    27.010249
min     0.000000
25%     0.750000
50%     7.500000
75%    35.500000
max    63.000000

In [6]:
results = ds.five_number_summary(df['y'])
results

               min    q1    q2    q3  max
interpolation
linear           0  0.75   7.5  35.5   63
lower            0  0.00   2.0  27.0   63
higher           0  1.00  13.0  61.0   63
nearest          0  1.00  13.0  27.0   63
midpoint         0  0.50   7.5  44.0   63

In [7]:
results.iloc[0,3]

35.5

In [8]:
results = ds.six_number_summary(df['y'])
results

               min    q1    q2    q3  max    iqr
interpolation
linear           0  0.75   7.5  35.5   63  34.75
lower            0  0.00   2.0  27.0   63  27.00
higher           0  1.00  13.0  61.0   63  60.00
nearest          0  1.00  13.0  27.0   63  26.00
midpoint         0  0.50   7.5  44.0   63  43.50

In [9]:
# End of time estimation for the notebook.
end_time = dt.datetime.now()
(end_time - start_time).total_seconds()

0.469541