In [1]:
import pandas as pd
import numpy as np

In [2]:
my_list_1 = [13, 17, 11, 16, 14]
my_list_1

[13, 17, 11, 16, 14]

In [3]:
my_list_2 = [13, np.nan, 11, 16, 14]
my_list_2

[13, nan, 11, 16, 14]

In [4]:
my_list_3 = ['a', 'b', 'c', 'd', 'e']
my_list_3

['a', 'b', 'c', 'd', 'e']

In [5]:
my_list_4 = ['a', '', 'c', 'd', 'e']
my_list_4

['a', '', 'c', 'd', 'e']

In [6]:
my_index = [0, 1, 2, 3, 4]
my_index

[0, 1, 2, 3, 4]

In [7]:
s1 = pd.Series(data=my_list_1)
s1

0    13
1    17
2    11
3    16
4    14
dtype: int64

In [8]:
s2 = pd.Series(
    data=my_list_1,
    name='A'
)
s2

0    13
1    17
2    11
3    16
4    14
Name: A, dtype: int64

In [9]:
s3 = pd.Series(
    data=my_list_1,
    index=my_index,
    dtype='int64',
    name='A'
)
s3

0    13
1    17
2    11
3    16
4    14
Name: A, dtype: int64

In [10]:
s4 = pd.Series(
    data=my_list_1,
    index=my_index,
    dtype='Int64',
    name='A'
)
s4

0    13
1    17
2    11
3    16
4    14
Name: A, dtype: Int64

In [11]:
s5 = pd.Series(
    data=my_list_2,
    index=my_index,
    dtype='Int64',
    name='A'
)
s5

0      13
1    <NA>
2      11
3      16
4      14
Name: A, dtype: Int64

In [12]:
s6 = pd.Series(
    data=my_list_3,
    index=my_index,
    dtype='str',
    name='A'
)
s6

0    a
1    b
2    c
3    d
4    e
Name: A, dtype: object