In [1]:
import datasense as ds
import pandas as pd

In [2]:
df = pd.DataFrame(
    {
        'x': ds.random_data(distribution='norm'),
        'y': ds.random_data(distribution='randint'),
        'z': ds.random_data(distribution='uniform'),
        't': ds.datetime_data()
    }
)

In [3]:
df.shape

(42, 4)

In [4]:
df.head()

          x   y         z                   t
0 -0.473149  60  0.099130 2020-09-26 12:08:39
1 -0.244369  14  0.473439 2020-09-27 12:08:39
2 -0.507312  44  0.059633 2020-09-28 12:08:39
3  0.650734  13  0.972364 2020-09-29 12:08:39
4  1.389316  68  0.927681 2020-09-30 12:08:39

In [5]:
df.dtypes

x           float64
y             int64
z           float64
t    datetime64[ns]
dtype: object

In [6]:
df.columns

Index(['x', 'y', 'z', 't'], dtype='object')

In [7]:
print(help(ds.find_int_columns))

Help on function find_int_columns in module datasense.munging:

find_int_columns(df: pandas.core.frame.DataFrame) -> List[str]
    Find all integer columns in a dataframe.

    Parameters
    ----------
    df : pd.DataFrame
        The input dataframe.

    Returns
    -------
    columns_int : List[str]
        A list of integer column names.

    Example
    -------
    >>> import datasense as ds
    >>> import pandas as pd
    >>> df = pd.DataFrame(
    >>>     {
    >>>         'x': ds.random_data(distribution='norm'),
    >>>         'y': ds.random_data(distribution='randint'),
    >>>         'z': ds.random_data(distribution='uniform'),
    >>>         't': ds.datetime_data()
    >>>     }
    >>> )
    >>> columns_int = ds.find_int_columns(df=df)
    >>> print(columns_int)

None

In [8]:
columns_int = ds.find_int_columns(df=df)
print(columns_int)

['y']

In [9]:
print(help(ds.find_int_float_columns))

Help on function find_int_float_columns in module datasense.munging:

find_int_float_columns(df: pandas.core.frame.DataFrame) -> List[str]
    Find all integer and float columns in a dataframe.

    Parameters
    ----------
    df : pd.DataFrame
        The input dataframe.

    Returns
    -------
    columns_int_float : List[str]
        A list of integer and float column names.

    Example
    -------
    >>> import datasense as ds
    >>> import pandas as pd
    >>> df = pd.DataFrame(
    >>>     {
    >>>         'x': ds.random_data(distribution='norm'),
    >>>         'y': ds.random_data(distribution='randint'),
    >>>         'z': ds.random_data(distribution='uniform'),
    >>>         't': ds.datetime_data()
    >>>     }
    >>> )
    >>> columns_int_float = ds.find_int_float_columns(df=df)
    >>> print(columns_int_float)
    ['x', 'y', 'z']

None

In [10]:
columns_int_float = ds.find_int_float_columns(df=df)
print(columns_int_float)

['x', 'y', 'z']

In [11]:
columns_int = list(df.select_dtypes(include=['int64']).columns)

In [12]:
columns_int_float = list(df.select_dtypes(include=['int64', 'float64']).columns)

In [13]:
print(columns_int)

['y']

In [14]:
print(columns_int_float)

['x', 'y', 'z']